# Variáveis sensíveis
.env

# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Banco local
*.db

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# Build
dist/
build/
*.egg-info/
